[class^="icon-"] {
    font-family: "MyIconFont";
    font-style: normal;
}

#root {
    color: #2070DC;
    font-size: 24px;
}

.border {
    border: 2px solid red;
    background-image: url("./snow.png");
    h2 {
        color: green;
    }
}

.iconWrap {
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.boxShadow {
    box-shadow: 0 0 3px #000000;
}
