.hero-list {
    width: 180px;
    padding: 0;

    li {
        list-style: none;
        line-height: 20px;
        background: white;
        text-align: center;
    }

    li:nth-child(odd) {
        background: #EEE;
    }
}