.comment {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #EEE;

  p {
      padding: 5px;
  }

  .divider {
    padding-left: 0;
  }
}

.username {
  color: #00a3cf;
  font-style: italic;
}